extends layout.pug

block content
  style.
    form {
      padding: 20px;
      background: #f1f1f1;
      margin-top: 28px;
      margin-bottom: 33px;
    }

  form.col.s12(action='/my-images', method='POST')
    .row.search-field
      .input-field.col.s12
        input(type='text', name='imageUrl')
        label(
          for='imageUrl'
        ) Paste valid image URL here:

      .input-field.col.s12
        input#first_name.validate(name='imageDescription', type='text')
        label(
          for='imageDescription'
        ) Write a short description about your image:

      .input-field.col.s12
        button.waves-effect.waves-light.btn(type='submit') Submit

  if error
    .row
      .col.s12
        .card.red.lighten-5.col.s12.remove-shadow
          .card-content.col.s12
            p= error

  include _list_of_images.pug
